---
import type { Recipe } from "@/content/config";
import CategoryPill from "./CategoryPill.astro";
import { DownloadRecipe } from "@/islands";

interface Props {
  recipe: Recipe;
  noCategories?: boolean;
}

const { recipe, noCategories = false } = Astro.props;
const href = `/recipe/${recipe.slug}`;
---

<a href={href}>
  <h3>{recipe.data.title}</h3>
  {recipe.data.description}
  {
    !noCategories && (
      <div class="categories">
        {recipe.data.categories?.map((category) => (
          <CategoryPill category={category} noLink />
        ))}
      </div>
    )
  }
  <DownloadRecipe client:idle />
</a>

<style>
  a {
    flex: auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    background: linear-gradient(#000f, #0000);
    border-radius: 8px;
    margin: 0;
    padding: 16px;
    width: 100%;
  }

  .categories {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 16px 0 0 0;
    padding: 0;
    gap: 8px;
    li {
      list-style: none;
    }
  }
</style>
