---
import Nav from "@/components/Nav.astro";
import RegisterSW from "@/pwa/RegisterSW.astro";
import WebManifestLink from "@/pwa/WebManifestLink.astro";
import "@picocss/pico";
import packageJson from "package.json";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
  description?: string;
}

let { title } = Astro.props;
if (!title || title === packageJson.title) {
  title = packageJson.title;
} else {
  title = `${title} | ${packageJson.title}`;
}
const { description = packageJson.description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#ff5d01" />
    <meta name="msapplication-TileColor" content="#FF5D01" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon.svg" color="#FFFFFF" />
    <link rel="apple-touch-icon" href="/pwa-192x192.png" />
    <WebManifestLink />
    <ViewTransitions />
  </head>
  <body>
    <Nav />
    <main class="container">
      <slot />
    </main>
    <style is:global>
      .sr-only {
        border: 0;
        padding: 0;
        margin: 0;
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        white-space: nowrap;
      }

      a {
        color: white;
        text-decoration: underline dotted darkorange;
      }
    </style>
    <RegisterSW />
  </body>
</html>
